* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /** font sizes**/
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;
}

/*** stylings to be applied globally ***/
a {
  text-decoration: none;
}

.orange {
  color: #fe6813;
}

p {
  color: #777;
  font-size: var(--font-size-s);
}

.row {
  justify-content: space-between;
}

.orange-btn {
  background-color: #fe6813;
  color: #fff4e4;
}

.orange-btn:hover {
  background-color: rgba(249, 224, 224, 0.45);
  color: #fe6813;
  transition: background-color 0.5s;
}

/****margin-top for all sections***/
.stats,
.about,
.features,
.banner,
.testimonials,
.update, footer {
  margin-top: 90px;
}

/******header stylings****/
header {
  background-color: #222;
  width: 100%;
  height: 100dvh;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100px;
}

.nav-menu {
  background: transparent !important;
  padding: 16px 0;
}

.content-item:first-of-type {
  padding-top: 40px;
}

.content-item h1 {
  color: #fff4e4;
  font-size: 70px;
}


/*****stats stylings******/

.stats .row:first-child {
  margin-bottom: 40px;
}

.stats-item {
  background-color: rgba(249, 224, 224, 0.23);
  border-radius: 20px;
  width: 32%;
  padding: 12px 16px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.stats-item h2 {
  transition: color 0.5s ease-in-out;
  font-size: var(--font-size-xxl);
}

.stats-item:hover {
  background-color: #222;
}

.stats-item:hover h2 {
  color: #fff;
}

.stats-item-right {
  text-align: right;
}

.arrow-up-right {
  background-color: #fff4e4;
  border-radius: 50%;
  margin: 10px 0;
  width: 30px;
}

.stats-icon {
  width: 100px;
  text-align: right;
}

/*****about section stylings*****/
.about-item {
  width: 48%;
  padding: 14px 16px;
  border-radius: 20px;
  position: relative;
}

.about-item:last-of-type h2 {
  margin-bottom: 30px;
}

.about-item h2 {
  font-size: var(--font-size-xxl);
}

.about-inner-item {
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.about-inner-item:hover {
  background-color: #222;
}

.about-inner-item img {
  background-color: #fe6813;
  color: #fff;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.about-item .rate {
  width: 75%;
  background-color: rgba(249, 224, 224, 0.23);
  padding: 30px 20px;
  margin-top: 10%;
}

.rate-pics-btn img {
  width: 50px;
  border-radius: 50%;
  margin: 4px;
}

.dark-btn {
  background-color: #000;
  color: #fff4e4;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}

.secure-button {
  position: absolute;
  background-color: #fff;
  right: 40px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}

.secure-button img {
  width: 150px;
}

.analysis {
  background-color: #fff;
  width: 80%;
  padding: 8px 5px;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
  right: 10px;
}

.analysis small {
  font-weight: bold;
}

.analysis button {
  margin-top: 20px;
}

.mini-title {
  padding-left: 10px;
  transition: color 0.5s ease-in-out;
}

.about-inner-item:hover .mini-title {
  color: #fff4e4;
}

/**stylings for features section**/
/*left side*/
.feature-item:first-of-type {
  background-color: rgba(249, 224, 224, 0.23);
  padding: 14px 24px;
  width: 46%;
}

.feature-item:first-of-type h1 {
  margin-bottom: 40px;
}

.feature-item:first-of-type h3 {
  font-size: var(--font-size-m);
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
}

.feature-item:first-of-type p {
  font-size: var(--font-size-n);
  border-bottom: 1px solid #aaa;
  padding-bottom: 14px;
  transition: color 0.5s ease-in-out;
}

.feature-item:first-of-type p:hover {
  color: #000;
}

.feature-item:first-of-type i {
  margin-right: 15px;
  transition: color 0.5s ease-in-out;
}

.feature-item:first-of-type p:hover i {
  color: #fe6813;
}

/*right side*/
.feature-inner-item {
  background-color: rgba(249, 224, 224, 0.23);
  width: 49%;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.feature-inner-item:hover {
  background-color: #222;
}

.feature-inner-item img {
  background-color: #fe6813;
  color: #fff;
  height: 40px;
  padding: 6px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 7px;
}

.feature-mini-title {
  font-size: var(--font-size-m);
  color: #000;
  margin-top: 10px;
  transition: color 0.5s ease-in-out;
}

.feature-inner-item:hover .feature-mini-title {
  color: #fff4e4;
}

.feature-inner-item small {
  color: #777;
}

.feature-inner-item a {
  display: block;
  color: #fe6813;
  margin-top: 6px;
}

/**stylings for banner**/
.banner {
  background-color: #444;
  border-radius: 20px;
  padding-top: 20px;
}

.banner h1 {
  color: #fff;
}

.banner-item:first-of-type {
  display: flex;
  align-items: flex-end;
}

.banner-item:last-of-type {
  padding: 50px 40px 50px;
}

.banner-item .banner-image {
  min-height: 90%;
  width: 100%;
}

.banner-inner-item {
  border-bottom: 1px solid #777;
  position: relative;
}

.banner-inner-item img {
  width: 12px;
  position: absolute;
  right: 0;
}

/***dropdown feature stylngs**/
.banner .collapsible {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.banner .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* testimonials section stylings */
.testimonials-item {
  background-color: rgba(249, 224, 224, 0.23);
  border-radius: 20px;
  width: 49%;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.testimonials-item:hover {
  background-color: #222;
}

.testimonials-item h3 {
  transition: color 0.5s ease-in-out;
}

.testimonials-item:hover h3 {
  color: #fff4e4;
}

.testimonials-inner-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials-inner-item img {
  float: left;
  margin-right: 12px;
}

.testimonials-inner-item h4 {
  font-size: var(--font-size-s);
  transition: color 0.5s ease-in-out;
}

.testimonials-item:hover .testimonials-inner-item h4 {
  color: #fff4e4;
}

.testimonials-inner-item .author {
  flex-basis: 70%;
}

/* update section stylings */
.update-item {
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
  width: 32%;
  cursor: pointer;
  justify-content: center;
}

.update-item:hover {
  background-color: rgba(249, 224, 224, 0.23);
}

.update-item .update-image {
  width: 100%;
  border-radius: 20px;
}

.update-item .update-inner-item {
  display: flex;
  justify-content: space-between;
}

.update-item .update-inner-item h4 {
  font-size: var(--font-size-m);
  flex-basis: 50%;
}

.update-item .update-inner-item img {
  width: 60px;
}

/* footer section stylings */
footer {
  background-color: #222;
  color: #fff4e4;
}
footer p {
  color: #fff4e4;
}
footer h1 {
  color: #fff4e4;
}
footer .footer-head{
  border-bottom: 1px solid #fe6813;
}
footer .row:first-of-type .orange-btn {
  float: right;
}
footer .footer-item {
  width: 31%;
}
footer .footer-item a {
  color: #fff4e4;
}
.footer-item .footer-inner-item .icon {
  width: 20px;
}
.footer-item .social-icons {
  display: flex;
}
.footer-item .social-icons img {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: flex-end;
}

/***responsive media query code for max-width 900px*******/
@media screen and (max-width: 900px) {
  :root {
    /** font sizes**/
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  .stats-item {
    width: 100%;
  }

  .stats-item h2 {
    font-size: var(--font-size-xxl);
  }

  .about-item {
    width: 100%;
  }

  .about-item:first-of-type {
    margin-bottom: 80px;
  }

  .about .orange-btn {
    font-size: 12px;
    /**this is to make the button fit**/
  }

  .analysis p {
    font-size: 12px;
  }

  .feature-item:first-of-type {
    width: 100%;
  }

  .feature-inner-item {
    width: 100%;
  }

  .testimonials-item {
    width: 100%;
  }

  .update-item {
    width: 100%;
  }
  footer .footer-item {
    width: 100%;
  }
}